<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configs</key>
	<array>
		<string>~/Documents/Conky/npyl-theme/Gotham</string>
		<string>~/Documents/Conky/npyl-theme/CPU Panel (4-core)</string>
	</array>
	<key>source</key>
	<string>https://github.com/Conky-for-macOS/default-themes</string>
	<key>creator</key>
	<string>psyjunta, npyl</string>
	<key>wallpaper</key>
	<string>~/Documents/Conky/npyl-theme/deadpool-wallpaper.jpg</string>
</dict>
</plist>
